/* media query for phones with max-width of 479px */
@media (max-width: 479px) {
	
	body {
		background-position: left center;
	}

	#projects {
		background: rgba(0, 0, 0, .8);
	}
	
	.header {
		top: 35%;
	}

	.my-img {
		width: 250px;
		height: 250px;
	}

	.bio {
		font-size: 15px;
		line-height: 2em;
		padding: 2em;
	}

	#features {
		padding-top: 4.5em;
		padding-bottom: 2em;
		line-height: 2em;
	}

	#contacts {
		height: 25vh;
	}

	.social {
		line-height: 25vh;
	}
	
	.social img {
		margin: 0 .8em 0 .8em;
	}

	footer {
		line-height: 7vh;
	}

}

/* media query for phones with min-width of 480px and max-width of 599px */
@media screen and (min-width: 480px) and (max-width: 599px) {

	.bio {
		font-size: 15px;
		line-height: 2em;
		padding: 2em;
	}

	#features {
		padding-top: 4.5em;
		padding-bottom: 2em;
		line-height: 2em;
	}

	#contacts {
		height: 30vh;
	}

	.social {
		line-height: 30vh;
	}
	
	.social img {
		margin: 0 2em 0 2em;
	}

	footer {
		line-height: 12vh;
	}

}

/* media query for tablets with min-width of 600px and max-width of 767px */
@media (min-width: 600px) and (max-width: 767px) {

	body {
		background-position: left center;
	}

	.header h1 {
		font-size: 3.5em !important;
	}
	
	.header p {
		font-size: 2.5em !important;
	}

	.bio {
		font-size: 16px;
		line-height: 2em;
		padding: 2em;
	}

	#features {
		padding-top: 4em;
		padding-bottom: 2em;
		line-height: 2em;
	}

	#contacts {
		height: 20vh;
	}

	.social {
		line-height: 20vh;
	}	

	.social img {
		margin: 0 3em 0 3em;
	}

	footer {
		line-height: 8vh;
		letter-spacing: 4px;
	}

}

/* media query for small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.header h1 {
		font-size: 3.5em !important;
	}

	.header p {
		font-size: 2em !important;
	}

	.bio {
		font-size: 16px;
		line-height: 2em;
		padding: 1.5em 2em;
	}

	#features {
		height: auto;
		padding-top: 15%;
		padding-bottom: 12%;
		line-height: 2em;
	}

	.panel {
		height: 16em;
		overflow: auto;
	}

	#contacts {
		height: 20vh;
	}
		
	.social {
		line-height: 20vh;
	}

	.social img {
		margin: 0 4em;
	}

	footer {
		line-height: 8vh;
		letter-spacing: 3px;
		font-size: 16px;
	}

}

/* media query for medium devices (laptops, small desktops, 992px and up) */
@media (min-width: 992px) {

	body {
		background-position: left center;
	}

	.header h1 {
		font-size: 4em !important;
	}

	.header p {
		font-size: 2.5em !important;
	}
	
	#projects {
		background: transparent;
	}

	#about {
		height: 100vh;
	}
	
	.img-wrapper {
		height: 50vh;
		padding-top: 4em;
	}

	.bio {
		height: 50vh;
		font-size: 17px;
		line-height: 2em;
		padding: 2.5em 3em 0em 3em;
	}
	
	#features {
		height: 70vh;
		padding-bottom: 0;
	}	

}

/* media query for large devices (larger laptops, desktops, 1200px and up) */
@media (min-width: 1200px) {

	.header h1 {
		font-size: 3.5em !important;
	}

	.header p {
		font-size: 2.5em !important;
	}

	#projects {
		background: transparent;
	}

	.img-wrapper {
		margin-top: 6em;
	}

	.bio {
		font-size: 18px;
		line-height: 2.5em;
		padding: 2em 4em 0em 4em;
	}

	#features {
		height: 70vh;
		padding-top: 13%;
		line-height: 2.5em;
	}
	
	.panel {
		height: 16em;
		overflow: auto;
	}

	#contacts {
		height: 20vh;
	}	

	.social {
		line-height: 20vh;
	}

	.social img {
		margin: 0 5em;
	}

	footer {
		line-height: 10vh;
		letter-spacing: 4px;
	}

} 

/* media query for xtra-large screens (1500px and up) */
@media (min-width: 1500px) {

	.bio {
		font-size: 19px;
		line-height: 3em;
		padding: 2em 6em 0 6em;		
	}

	#features {
		padding-top: 10%;
	}

	.panel {
		margin: 0 4em;
	}

	.social img {
		margin: 0 6em;
	}

}

/* media query for xtra-large screens (1700px and up) */
@media (min-width: 1700px) {

	#about {
		background: url(../images/city.jpg) no-repeat center center;
		background-attachment: fixed;
		overflow: hidden;
	}

	.bio {
		font-size: 20px;
		line-height: 3em;
		padding: 2em 6em 0 6em;	
	}

	.social img {
		margin: 0 7em;
	}

}





