/* media queries for phones with max-width of 479px */
@media (max-width: 479px) {
	
	body {
		background-position: left center;
	}

	.my-img {
		width: 250px;
		height: 250px;
	}

	.bio {
		font-size: 15px;
	}

	#features {
		padding-top: 4.5em;
		padding-bottom: 2em;
		line-height: 2em;
	}

	#contacts {
		height: 25vh;
	}

	.social {
		line-height: 25vh;
	}
	
	.social img {
		margin: 0 .5em 0 .5em;
	}

	footer {
		height: 10vh;
		line-height: 9vh;
	}

}

/* media queries for phones with min-width of 480px and max-width of 599px */
@media screen and (min-width: 480px) and (max-width: 599px) {

	.bio {
		font-size: 15px;
	}

	#features {
		padding-top: 4.5em;
		padding-bottom: 2em;
		line-height: 2em;
	}

	#contacts {
		height: 30vh;
	}

	.social {
		line-height: 30vh;
	}
	
	.social img {
		margin: 0 2em 0 2em;
	}

	footer {
		height: 15vh;
		line-height: 12vh;
	}

}

/* media queries for small tablets in portrait mode */
@media screen and (min-width: 600px) and (max-height: 800px) and (orientation: portrait) {
	
	.header {
		top: 45%;
		letter-spacing: 5px;
	}

	.lead {
		font-size: 25px !important;
	}

	.bio {
		font-size: 16px;
	}

	#features {
		padding-top: 4em;
		padding-bottom: 2em;
		line-height: 2em;
	}

	#contacts {
		height: 20vh;
	}

	.social {
		line-height: 20vh;
	}	

	.social img {
		margin: 0 3em 0 3em;
	}

	footer {
		height: 10vh;
	}

	footer p {
		line-height: 8vh;
		letter-spacing: 4px;
	}

}

/* media queries for tablets with min-width of 600px and max-width of 767px */
@media screen and (min-width: 601px) and (max-width: 767px) {

	.lead {
		font-size: 25px !important;
	}	

	.bio {
		font-size: 16px;
	}

	#features {
		padding-top: 4em;
		padding-bottom: 2em;
		line-height: 2em;
	}

	#contacts {
		height: 20vh;
	}

	.social {
		line-height: 20vh;
	}	

	.social img {
		margin: 0 3em 0 3em;
	}

	footer {
		height: 10vh;
	}

	footer p {
		line-height: 8vh;
		letter-spacing: 4px;
	}

}

/* media queries for tablets with min-width of 768px and max-width of 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {

	.lead {
		font-size: 25px !important;
	}

	.bio {
		font-size: 16px;
	}

	#features {
		padding-top: 6em;
		padding-bottom: 5em;
		line-height: 2em;
	}

	.panel {
		height: 16em;
		overflow: auto;
	}

	#contacts {
		height: 20vh;
	}
		
	.social {
		line-height: 20vh;
	}

	.social img {
		margin: 1em 3em 1em 3em;
	}

	footer {
		height: 10vh;
		line-height: 8vh;
		letter-spacing: 3px;
		font-size: 16px;
	}

}

/* media queries laptops with min-width of 1025px and max-width of 1280px */
@media screen and (min-width: 1025px) and (max-width: 1280px) {

	.header p {
		font-size: 27px;
	}

	.img-wrapper {
		margin-top: 7em;
	}

	.bio {
		padding: 2.5em;
	}

	#features {
		height: 70vh;
		padding-top: 9em;
		line-height: 2.5em;
	}
	
	.panel {
		height: 15em;
		overflow: auto;
	}

	#contacts {
		height: 20vh;
	}	

	.social {
		line-height: 20vh;
	}

	.social img {
		margin: 1em 3em 1em 3em;
	}

	footer {
		height: 10vh;
	}

	footer p {
		line-height: 8vh;
		letter-spacing: 4px;
	}

} 







