/* media query for phones with max-width of 479px */
@media (max-width: 479px) {

#intro {
  height: 480px;
  background: url(../images/small/introbg.jpg) no-repeat 50% 90%;
  background-size: 100%;
}

#projects {
 height: 480px;
 background: rgba(245,245,245,1);
}

#about {
  background: rgba(0,0,0,1);
}

.header {
  top: 20%;
  color: #000 !important;
  text-shadow: none;
}

#slide1, #slide2, #slide3, #slide4 {
  height: 336px;
}

#slide1 {
  background: url(../images/small/quiz.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide2 {
  background: url(../images/small/shopping.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide3 {
  background: url(../images/small/movie.png) no-repeat 50% 90%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide4 {
  background: url(../images/small/hot-cold.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.my-img {
  width: 250px;
  height: 250px;
}

.bio {
  font-size: 15px;
  line-height: 2em;
  padding: 2em;
}

#features {
  background: url(../images/small/featuresbg.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4.5em;
  padding-bottom: 2em;
  line-height: 2em;
}

#contacts {
  height: 120px;
}

.social {
  line-height: 120px;
}

.social img {
  margin: 0 .8em 0 .8em;
}

footer {
  line-height: 30px;
}

}

/* media query for phones with min-width of 480px and max-width of 599px */
@media screen and (min-width: 480px) and (max-width: 599px) {
	
#intro {
  background: url(../images/small/introbg.jpg) no-repeat 50% 50%;
  background-size: 100%;
  height: 320px;
}

#projects {
  height: 320px;
}

#slide1, #slide2, #slide3, #slide4 {
  height: 220px;
}

#slide1 {
  background: url(../images/small/quiz.png) no-repeat center;
  background-size: 100%;
}

#slide2 {
  background: url(../images/small/shopping.png) no-repeat;
  background-size: 100%;
}

#slide3 {
  background: url(../images/small/movie.png) no-repeat 50% 90%;
  background-size: 100%;
}

#slide4 {
  background: url(../images/small/hot-cold.png) no-repeat;
  background-size: 100%;
}

#about {
  background: url(../images/small/aboutbg.jpg) no-repeat center;
  background-size: 100% 100%;
}

.bio {
  font-size: 15px;
  line-height: 2em;
  padding: 2em;
}

#features {
   background: url(../images/small/featuresbg.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 4.5em;
  padding-bottom: 2em;
  line-height: 2em;
}

#contacts {
  height: 96px;
}

.social {
  line-height: 96px;
}

.social img {
  margin: 0 2em 0 2em;
}

footer {
  line-height: 32px;
}

}

/* media query for tablets with min-width of 600px and max-width of 767px */
@media (min-width: 600px) and (max-width: 767px) {

.header h1 {
  font-size: 3.5em !important;
}

.header p {
  font-size: 2.5em !important;
}

.bio {
  font-size: 16px;
  line-height: 2em;
  padding: 2em;
}

#intro {
 height: 700px;
 background: url(../images/medium/introbg.jpg) no-repeat 40% 50%;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#projects {
  height: 700px;
}

#slide1 {
  background: url(../images/medium/quiz.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide2 {
  background: url(../images/medium/shopping-list.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide3 {
  background: url(../images/medium/movie.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide4 {
  background: url(../images/medium/hot-cold.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#features {
  background: url(../images/medium/featuresbg.jpg) no-repeat;
  padding-top: 4em;
  padding-bottom: 2em;
  line-height: 2em;
}

#contacts {
  height: 140px;
}

.social {
  line-height: 140px;
}	

.social img {
  margin: 0 3em 0 3em;
}

footer {
  line-height: 70px;
  letter-spacing: 4px;
}

}

/* media query for small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.header h1 {
  font-size: 3.5em !important;
}

.header p {
  font-size: 2em !important;
}

#intro {
  height: 550px;
  background: url(../images/medium/introbg.jpg) no-repeat 40% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#projects {
  height: 550px;
}

#myCarousel {
  top: 15%;
}

#slide1, #slide2, #slide3, #slide4 {
  height: 400px;
}

#slide1 {
  background: url(../images/medium/quiz.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide2 {
  background: url(../images/medium/shopping-list.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide3 {
  background: url(../images/medium/movie.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide4 {
  background: url(../images/medium/hot-cold.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bio {
  font-size: 16px;
  line-height: 2em;
  padding: 1.5em 2em;
}

#features {
  background: rgba(220,220,220,1);
  padding-top: 15%;
  padding-bottom: 12%;
  line-height: 2em;
}

.panel {
  height: 16em;
  overflow: auto;
}

#contacts {
  height: 160px;
}
	
.social {
  line-height: 160px;
}

.social img {
  margin: 0 4em;
}

footer {
  line-height: 80px;
  letter-spacing: 3px;
  font-size: 16px;
}

}

/* media query for iPads in portrait mode */
@media (width: 768px) and (orientation: portrait) {

#intro, #projects {
  height: 650px;
}

#slide1, #slide2, #slide3, #slide4 {
  height: 480px;
}

#contacts {
  height: 160px;
}
	
.social {
  line-height: 160px;
}

.social img {
  margin: 0 4em;
}

footer {
  line-height: 80px;
  letter-spacing: 3px;
  font-size: 16px;
}

}

/* media query for medium devices (laptops, small desktops, 992px and up) */
@media (min-width: 992px) {

.header h1 {
  font-size: 4em !important;
}

.header p {
  font-size: 2.5em !important;
}

#intro {
  height: 760px;
  background-attachment: fixed;
}

#projects {
  height: 760px;
  background-attachment: fixed;
}

#slide1, #slide2, #slide3, #slide4 {
  height: 550px;
}

#about {
  height: 760px;
  background-attachment: fixed;
}

.img-wrapper {
  height: 380px;
  padding-top: 4em;
}

.bio {
  height: 380px;
  font-size: 17px;
  line-height: 2em;
  padding: 2.5em 3em 0em 3em;
}

#features {
  background-attachment: fixed;
  height: 480px;
  padding-top: 14%;
}	

}

/* media query for large devices (larger laptops, desktops, 1200px and up) */
@media (min-width: 1200px) {

.header h1 {
  font-size: 3.5em !important;
}

.header p {
  font-size: 2.5em !important;
}

#intro {
  background: url(../images/introbg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bio {
  font-size: 18px;
  line-height: 2.5em;
  padding: 1em 3em 0em 3em;
}

#features {
  height: 560px;
  padding-top: 13%;
  line-height: 2.5em;
}

.panel {
  height: 16em;
  overflow: auto;
}

#contacts {
  height: 160px;
}	

.social {
  line-height: 160px;
}

.social img {
  margin: 0 5em;
}

footer {
  line-height: 80px;
  letter-spacing: 4px;
}

} 

/* media query for xtra-large screens (1500px and up) */
@media (min-width: 1500px) {

.bio {
  font-size: 19px;
  line-height: 3em;
  padding: 3em 6em 0 6em;		
}

#intro, #projects {
  height: 900px;
}

#slide1, #slide2, #slide3, #slide4 {
  height: 630px;
}

#about {
  height: auto;
}

#features {
  height: 630px;
  padding-top: 10%;
}

.panel {
  margin: 0 4em;
}

#contacts {
  height: 180px;
}	

.social {
  line-height: 180px;
}

.social img {
  margin: 0 6em;
}

footer {
  line-height: 90px;
  letter-spacing: 4px;
}

}

/* media query for xtra-large screens (1700px and up) */
@media (min-width: 1700px) {

#intro, #projects {
  height: 1080px;
}

#myCarousel {
  top: 20%;
}

#about {
  height: auto;
  background: url(../images/large/city.jpg) no-repeat center center fixed;
  overflow: hidden;
}

.bio {
  font-size: 20px;
  line-height: 3em;
  padding: 3em 6em 0 6em;	
}

.social img {
  margin: 0 7em;
}

}




