/* media query for phones with width of 320px in portrait view */
@media (max-width: 320px) {
	
	body {
		background-position: 30% 20%;
	}

	#intro {	
		font-size: 12px;
		letter-spacing: 1px; 
	}

	.header p {
		font-size: 2em !important;
	}

	#myCarousel {
		-moz-box-shadow: 1px 10px 5px #d9d6d9;
		-webkit-box-shadow: 1px 10px 5px #d9d6d9;
		box-shadow: 1px 10px 5px #d9d6d9;
		width: auto;
	}

	.carousel-caption a {
		color: #fff;
	}

	#about {
		height: auto;
		background-position: center;
	}
	
	.img-wrapper {
		margin-top: 4em;
	}
	
	.my-img {
		width: 200px;
		height: 200px;
	}

	.bio {
		height: auto;
		font-size: 14.5px;
		padding: 1em 1.5em;
		line-height: 2em;
	}

	#features {
		height: auto;
		padding: 4.5em 0 2em 0;
	}
	
	.panel {
		height: 40vh;
	}

	.social img {
		margin: 0 .5em;
	}

	footer {
		height: auto;
		letter-spacing: 2px;
		line-height: 2em;
	}

}

/* media query for phones with max width of 480px in lanscape view */
@media (max-width: 480px) and (orientation: landscape) {
	
	.header {
		top: 35%;
	}

	.header p {
		font-size: 1.8em !important;
	}

	#projects {
		height: auto;
	}

	#myCarousel {
		margin-top: 4.9em;
		margin-bottom: 5em;
	}

	.carousel-caption a {
		color: #fff;
	}

	#about {
		height: auto;
	}

	.img-wrapper {
		height: 70vh;
		margin-top: 4em;
		margin-bottom: 4em;
	}

	.my-img {
		width: 250px;
		height: 250px;
	}

	.bio {
		height: auto;
		padding: 1em 2em;
		font-size: 16px;
		line-height: 2em;
	}

	#features {
		height: auto;
		padding-top: 4em;
		padding-bottom: 2em; 
	}

	.panel {
		height: 47vh;
		line-height: 2em;
	}

	#skills {
		height: 65vh;
	}

	#contacts {
		background-position: top;
	}

	footer {
		height: auto;
		letter-spacing: 3px;
	}

}

/* media query for phones with 320px width and 568px height in portrait view */
@media (max-width: 320px) and (min-height: 568px) {

	.my-img {
		width: 250px;
		height: 250px;
	}

	.panel {
		height: 35vh;
	}
}

/* media query for phones with max width of 568px in landscape view */
@media (min-width: 568px) and (max-height: 320px) {
	
	.header p {
		font-size: 1.8em !important;
	}

	#projects {
		height: auto;
	}

	#myCarousel {
		margin-top: 4.9em;
		margin-bottom: 5em;
	}	

	.carousel-caption a {
		color: #fff;
	}

	#slide1 {
		background-position: top;
	}

	#about {
		height: auto;
	}

	.img-wrapper {
		height: 70vh;
		margin-top: 4em;
		margin-bottom: 4em;
	}

	.my-img {
		width: 250px;
		height: 250px;
	}

	.bio {
		height: auto;
		padding: 1em 2em;
		font-size: 16px;
		line-height: 2em;
	}

	#features {
		height: auto;
		padding-top: 5em;
		padding-bottom: 2em; 
	}

	.panel {
		height: 47vh;
		line-height: 2em;
	}

	#skills {
		height: 65vh;
	}

	#contacts {
		background-position: top;
	}

	footer {
		height:auto;
		line-height: 20vh;
		letter-spacing: 3px;
	}

}

/* media query for small tablets with 600px width and 800px height */
@media (max-width: 600px) and (min-height: 800px) {

	.header {
		top: 45%;
	}
	
	.header p {
		font-size: 1.8em !important;
	}

	.carousel-caption a {
		color: #fff;
	}

}














