/* setting properties for body */
body {
	background: url(../images/responsivebg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

/* setting classes for alignment and positioning */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.margin-top-2 {
	margin-top: 2em;
}

.margin-top-7 {
	margin-top: 7em;

}

/* setting color property */
.white {
	color: #fff !important;
}

a {
	color: #fff;
}

/* setting properties for navabr */
.navbar {
	background: rgba(0, 0, 5, 0.9);
	border: transparent;
}

/* setting properties for section divs & classes */
#intro, #projects, #about, #contacts {
	width: auto;
	position: relative;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

#intro {
	height: 100vh;
	background: rgba(0, 0, 255, 0.3);
}

header {
	color: #fff;
	position: relative;
	top: 230px;
	margin: 0 auto;
	letter-spacing: 2px;
}

#projects {
	height: 100vh;
	background: url(../images/blackbg3.jpg) no-repeat center center;
  	background-attachment: fixed;
}

#about {
	height: 100vh;
	background-attachment: fixed;
	background: #fff;
	overflow: auto;
	line-height: 2em;
	padding: 0 5em;
	font-size: 18px;
}

#contacts {
	height: 90vh;
	background-attachment: fixed;
	background: rgba(127, 0, 255, 0.4);
	color: #fff;
	overflow: hidden;
}

.contacts-wrapper {
	margin-top: 12em;
}

.social {
	margin-top: 4em;
}

.social img {
	margin: 0 2em;
}

/* setting properties for footer */
footer {
	width: auto;
	height: 10vh;
	line-height: 10vh; 
	background: rgba(0, 0, 5, 0.9);
	color: #fff;
}

/* setting properties for carousel & carousel slides */
#myCarousel {
	width: 90%;
	padding: 0;
}

#slide1, #slide2, #slide3, #slide4 {
	height: 70vh;
	overflow: hidden;
}

#slide1 {
	background: url(../images/quiz.png) no-repeat center center;
	background-size: cover;
}

#slide2 {
	background: url(../images/shopping-list.png) no-repeat top center;
	background-size: cover;
}

#slide3 {
	background: url(../images/movie.png) no-repeat top center;
	background-size: cover;
}

#slide4 {
	background: url(../images/hot-cold.png) no-repeat top center;
	background-size: cover;
}

/* setting properties for caption of carousel slides */
.caption {
	display: none;
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.caption a:hover {

}
.carousel-caption {
	position: absolute;
	top: 10px;
}

/* media query for phones */
@media (min-width: 320px) and (max-width: 600px) {

	header {
		width: auto;
		top: 200px;
	}
	
	#myCarousel {
		width: auto;
		margin-top: 7em;
	}

	#about {
		font-size: 14.5px;
		padding: 0 1em;
	}

	.social img {
		margin: 0 1em;
	}

}

/* setting hover effect classes */
.float:hover {
	text-decoration: none;
	-webkit-transform: translateY(-5px);
  	-ms-transform: translateY(-5px);
  	-o-transform: translateY(-5px);
  	transform: translateY(-5px);
}

.pulse-grow:hover, .pulse-grow:focus, .pulse-grow:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.pulse-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* media query for tablets */
@media (min-width: 601px) and (max-width: 1024px) {

	header {
		width: 65%;
		top: 200px;
	}

	#about {
		font-size: 16px;
		padding: 0 2em;
	}

}

/* media query for laptop & desktop devices */
@media (min-width: 1025px) {

	header {
		width: 50%;
	}

}
