/* setting classes for alignment and positioning */

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.margin-top-5 {
	margin-top: 5em;
}

.margin-top-8 {
	margin-top: 8em;

}

/* setting properties for section divs & classes */

#intro, #projects, #about, #contacts {
	width: auto;
	position: relative;
	background-position: center;
	background-size: cover;
}

#intro {
	height: 100vh;
	background: url(../images/web-bg.jpg) no-repeat; 
	background-attachment: fixed;
	padding-top: 16em;
	letter-spacing: 2px;
}

#projects {
	height: 100vh;
	background: url(../images/projectsbg.jpg) no-repeat;
  	background-attachment: fixed;
}

#about {
	height: 100vh;
	padding: 0 5%;
	overflow: auto;
	line-height: 2em;
}

#contacts {
	height: 90vh;
}

.skills {
	color: #fff;
	margin-top: 1.5em;
}

.icons li {
	display: inline-block;
	margin-right: 2em;
}


/* setting properties for footer */

footer {
	width: auto;
	height: 10vh; 
	background: black;
}

/* setting properties for carousel & carousel slides */

#myCarousel {
	width: 80%;
	padding: 0;
}

#slide1, #slide2, #slide3, #slide4 {
	height: 65vh;
}

#slide1 {
	background: url(../images/quiz.png) no-repeat center center;
	background-size: cover;
}

#slide2 {
	background: url(../images/shopping-list.png) no-repeat top center;
	background-size: cover;
}

#slide3 {
	background: url(../images/movie.png) no-repeat top center;
	background-size: cover;
}

#slide4 {
	background: url(../images/hot-cold.png) no-repeat top center;
	background-size: cover;
}

/* setting properties for caption of carousel slides */

.caption {
	display: 
	z-index: 500;
	height: 25vh;
	width: 100%;
	background: gray;
	position: absolute;
	bottom: 0;
}


