/* setting properties for body */
body {
	background: url(../images/responsivebg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

/* setting classes for alignment and positioning */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.margin-top-2 {
	margin-top: 2em;
}

.margin-top-5 {
	margin-top: 5em;
}

.margin-top-7 {
	margin-top: 7em;

}

/* setting color property */
.white {
	color: #fff !important;
}

/* setting properties for navabr */
.navbar {
	background: rgba(0, 0, 0, 0.9);
	border: transparent;
}

/* setting properties for section divs & classes */
#intro, #projects, #about, #contacts {
	width: auto;
	position: relative;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

#intro {
	height: 100vh;
	background: rgba(0, 0, 255, 0.3);
	padding-top: 240px;
	letter-spacing: 3px;
	font-family: 'Oswald', sans-serif;
}

#projects {
	height: 100vh;
	background: url(../images/blackbg5.jpg) no-repeat center;
  	background-attachment: fixed;
}

#about {
	background: url(../images/city.jpg) no-repeat center center;
	background-attachment: fixed;
	overflow: hidden;
	padding-top: 1em;
}

.img-wrapper {
	padding-bottom: 4em;
	height: 45vh;
}

.img-wrapper img {
	border: 1px solid #fff;
}

.bio {
	background: rgba(250, 250, 250, 1);
	line-height: 3em;
	padding: 2em 6em 4em 6em;
	font-size: 18px;
}

#features {
	height: 60vh;
	background: url(../images/blackbg4.jpg) no-repeat center;
	background-attachment: fixed;
	padding-top: 6em;
	font-size: 15px;
}

.panel {
	height: 34vh;
	line-height: 5vh;
	overflow: hidden;
}

.panel-heading {
	background: rgba(76, 0, 153, 1) !important;
	letter-spacing: 2px;
}

#contacts {
	height: 30vh;
	background: url(../images/blackbg4.jpg) no-repeat center;
}

.social {
	margin-top: 3em;
}

.social img {
	margin: 0 2em;
}

/* setting properties for footer */
footer {
	width: auto;
	height: 10vh;
	line-height: 8.5vh;
	letter-spacing: 2px; 
	background: rgba(0, 0, 0, 1);
	color: #fff;
}

/* setting properties for carousel & carousel slides */
#myCarousel {
	-moz-box-shadow: 7px 10px 25px #d9d6d9;
	-webkit-box-shadow: 7px 10px 25px #d9d6d9;
	box-shadow: 7px 10px 25px #d9d6d9;
	border: 2px solid #000;
	width: 90%;
	padding: 0;
}

#slide1, #slide2, #slide3, #slide4 {
	height: 70vh;
}

#slide1 {
	background: url(../images/quiz.png) no-repeat center;
	background-size: cover;
}

#slide2 {
	background: url(../images/shopping-list.png) no-repeat center;
	background-size: cover;
}

#slide3 {
	background: url(../images/movie.png) no-repeat center;
	background-size: cover;
}

#slide4 {
	background: url(../images/hot-cold.png) no-repeat center;
	background-size: cover;
}

/* setting properties for caption of carousel slides */
.caption {
	display: none;
	background: rgba(192, 192, 192, 0.9);
	color: #000;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.caption a {
	color: #000;
}

.carousel-caption {
	position: absolute;
	top: 10px;
}

/* setting hover effect classes */
.float:hover {
	text-decoration: none;
	-webkit-transform: translateY(-5px);
  	-ms-transform: translateY(-5px);
  	-o-transform: translateY(-5px);
  	transform: translateY(-5px);
}

.pulse-grow:hover, .pulse-grow:focus, .pulse-grow:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.pulse-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* media query for phones */
@media (min-width: 320px) and (max-width: 480px) {
	
	#myCarousel {
		-moz-box-shadow: 1px 10px 20px #d9d6d9;
		-webkit-box-shadow: 1px 10px 20px #d9d6d9;
		box-shadow: 1px 10px 20px #d9d6d9;
		width: auto;
		margin-top: 7em;
	}

	.carousel-caption a {
		color: #fff;
	}

	#about {
		background-position: left bottom;
	}

	.bio {
		font-size: 14.5px;
		padding: 1em 1.5em;
		line-height: 2em;
	}

	#features {
		height: auto;
		padding: 6em 0 2em 0;
	}
	
	#contacts {
		padding-top: 1em;
	}

	.social img {
		margin: 0 1em;
	}

	footer {
		height: auto;
		line-height: 2em;
	}

}

@media (min-width: 481px) and (max-width: 767px) {
	
	.carousel-caption a {
		color: #fff;
	}

	.panel {
		height: 30vh;
		line-height: 7vh;
	}

	#about {
		background-position: left bottom;
	}

	.bio {
		font-size: 14.5px;
		padding: 1em 1.5em;
		line-height: 2em;
	}

	#features {
		height: auto;
		padding-bottom: 2em;
	}

	#contacts {
		padding-top: 1em;
	}

}

/* media query for tablets */
@media (min-width: 768px) and (max-width: 1024px) {

	.carousel-caption a {
		color: #fff;
	}
	
	#about {
		background-position: left bottom;
	}

	.bio {
		font-size: 16px;
		padding: 1em 2em;
		line-height: 2.2em;
	}

	.panel {
		height: 39.8vh;
		line-height: 1.8em;
	}

	#contacts {
		padding-top: 1em;
	}

}

/* media query for laptop & desktop devices */
@media (min-width: 1025px) {

	#intro {
		padding-top: 260px;
	}
	
	.bio {
		padding: 1em 4em 1em 4em;
	}
		
	#contacts {
		padding-top: 2em;
	}	

}





